body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
  
.home {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('/public/images/netflix-background.jpeg');
}

.header {
    margin: 25px;
}

.container {
    max-width: 314px;
    min-height: 604px;
    height: max-content;
    background-color: #000000bb;
    align-self: center;
    flex-direction: column;
    padding: 60px 68px 40px 68px;
    margin: auto;
}

.logOut {
    padding: 16px;
    background-color: #e50914;
    margin: 24px 0px 12px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }